<div class="container register__container">

  <h2 class="register__title">Crear Cuenta</h2>

 <div class="register__form">

   <%= form_for(resource, as: resource_name,url: registration_path(resource_name)) do |f| %>
     <%= devise_error_messages! %>

     <div class="field">
       <%= f.text_field :username, placeholder: "Nombre de usuario", class: "register__input"%>
     </div>

     <div class="field">
       <%= f.email_field :email, placeholder: "Correo electrónico" , class: "register__input"%>
     </div>

     <div class="field">
       <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña", class: "register__input"%>
     </div>

     <div class="field">
       <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmar Contraseña" , class: "register__input"%>
     </div>

     <div class="actions">
       <%= f.submit "Siguiente", class: "btn register__button" %>
     </div>
   <% end %>
 </div>

</div>
