<%= form_for(@debt) do |f| %>
  <% if @debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debt.errors.count, "error") %> prohibited this debt from being saved:</h2>

      <ul>
      <% @debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :debt_name, placeholder: "Nombre de la deuda", class: "debts__input"%>
  </div>
  <div class="field">
    <%= f.number_field :amount, placeholder: "Pago mínimo", class: "debts__input", pattern: "\d*"%>
  </div>
  <div class="row">
    <div class="field .col-xs-6 .col-md-4">
      <%= f.text_field :interest_rate, placeholder: "Tasa de interés", class: "debts__input"%>
    </div>
    <div class="field .col-xs-6 .col-md-4">
      <%= f.number_field :remaining_fees, placeholder: "Cuotas restantes" , class: "debts__input"%>
    </div>
    <div class="field">
      <%= f.text_field :frequency, placeholder: "Frecuencia", class: "debts__input"%>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Añadir", class: "btn register__button" %>
  </div>
<% end %>
