<div class="container debts__container">
  <table class="debts__table table table-hover table-bordered"  data-filter="#filter" data-page-size="5" data-page-previous-text="prev" data-page-next-text="next">
    <thead>
      <tr class="debts__fields">
        <th data-sort-initial="descending" data-class="expand">Nombre</th>
        <th data-type="numeric">Valor($)</th>
        <th data-type="numeric" data-hide="phone,tablet">Tasa de interés</th>
        <th data-type="numeric" data-hide="phone,tablet">Cuotas Restantes</th>
        <th data-type="numeric" data-hide="phone,tablet">Frecuencia</th>
        <th data-hide="phone,tablet" colspan="1" ></th>
      </tr>
    </thead>

    <tbody>
      <% @debts.each do |debt| %>
        <tr class="debts__details">
          <td><%= debt.debt_name %></td>
          <td><%= number_to_currency(debt.amount) %></td>
          <td><%= debt.interest_rate %></td>
          <td><%= debt.remaining_fees %></td>
          <td><%= debt.frequency %></td>
          <td><%= link_to 'Eliminar Deuda', debt, method: :delete, class: "debts__destroy",data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="debts__total">
    <p>Deuda total: $<%= number_to_currency(@total)  %></p>
  </div>
  <div class="debts__new">
    <%= link_to 'Añadir más', new_debt_path, class: "btn btn-lg debts__button" %>
  </div>
  <div class="debts__more">
    <input type="submit" value="Quiero un Plan" class="btn btn-lg debts__button debts__plan-button">
  </div>
  <div class="debts__know">
    <input type="submit" value="¿Cuánto me puedo endeudar?" class="btn btn-lg debts__button debts__know-button">
    <div class="debts__know-form">
      <p>Si no sabes por qué el sueldo no te rinde, probablemente es porque no has hecho una cuenta muy importante que te permite saber hasta qué punto gastar.</p>
      <p>Ingresa los campos pedidos recuerda que son valores mensuales</p>
      <form action="" id="know">
        <input type="number" placeholder="¿Cuánto ganas?"  class="debts__input" name="ganas"><br>
        <input type="number" placeholder="¿Cuánto gastas?" class="debts__input"  name="gastas"><br>
        <input type="submit" value="Calcular" class="btn btn-lg debts__button debts__know-send-btn">
      </form>
    </div>
  </div>

</div>
<script>
  $('#know').on('submit', function(event) {
    event.preventDefault();
    var $ganas = $("[name='ganas']").val();
    var $gastas = $("[name='gastas']").val();
    var cap = ($ganas - $gastas) * 0.35;
    if (cap >= 0) {
     swal({
       title: "Capacidad de enduedamiento",
       text: Math.floor(cap),
       type: "success"
     });
    }else{
      swal({
        title: "Capacidad de enduedamiento",
        text: "Cuidado! estás debiendo más de lo que tienes",
        type: "error"
      });
    }

    $( ".debts__know-form" ).slideUp( "slow", function() {
    });
  });
  $('table').footable({
      breakpoints: {
          tiny: 100,
          medium: 555,
          big: 2048
      }
  });
  $( ".debts__know-button" ).click(function(e) {
    e.preventDefault();
    $( ".debts__know-form" ).slideDown( "slow", function() {
    });
  });

  $(".debts__plan-button").click(function(event) {
    event.preventDefault();
    swal({
      title: "En construcción",
      text: "Estamos mejorando para que tengas una excelente experiencia",
      imageUrl: '<%= asset_path 'construction.png' %>'
    });
  });

  $(document).ready(function() {

    $( ".debts__know-form" ).slideUp( "fast", function() {
    });
  });

</script>
