<div class="container devise__container">
  <h2 class="devise__title">¿No recuerdas tu contraseña?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <p>Te enviaremos un correo electrónico de confirmación</p>
      <%= f.email_field :email, autofocus: true, placeholder: "Correo Electrónico", class: "devise__input" %>
    </div>

    <div class="actions">
      <%= f.submit "Confirmar", class: "btn devise__button" %>
    </div>
  <% end %>

  <div class="devise__shared">
    <%= render "devise/shared/links" %>
  </div>

</div>
