<div class="container register__container">
  <h2 class="register__title">Iniciar Sesión</h2>

  <div class="register__form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Correo Electrónico", class: "register__input"%>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder:"Contraseña" , class: "register__input"%>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label "Recordarme" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn register__button" %>
      </div>
    <% end %>
  </div>

  <div class="register__shared">
    <%= render "devise/shared/links" %>
  </div>

</div>
