<!DOCTYPE html>
<html>
<head>
  <title>PlanZero</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-static-top main-header__navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed main-header__button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar main-header__icon"></span>
            <span class="icon-bar main-header__icon"></span>
            <span class="icon-bar main-header__icon"></span>
          </button>
          <a class="navbar-brand logo" href=""><img src="/assets/logo.svg" alt="logo plan zero"></a>
        </div>
        <div id="navbar" class="main-header__navbar navbar-collapse collapse ">
          <ul class="nav navbar-nav ">
            <li class="active">
              <%= link_to'Inicio', root_path %>
            </li>
            <li><a href="#about">Sobre nosotros</a></li>
            <li><a href="#follow_us">Síguenos </a></li>
            <% if user_signed_in? %>
              <li>
              <%= current_user.username %>
              <%= link_to('Cerrar Sesión', destroy_user_session_path, :method => :delete) %>
              </li>
            <% else %>
              <li>
              <%= link_to('Iniciar Sesión', new_user_session_path)  %>
              </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </header>
  <div class="notice">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
  </div>
  <%= yield  %>

  <footer>

  </footer>
</body>
</html>
